* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a { 
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Aleo", serif;
} 


.title-underline {
  width: 200px;
  border: 1px solid #d1e2c4 !important;
  margin: auto;
}

#about-us {
  background-image: url(/images/blomma6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

/* FOOTER AND NAVBAR - LOGO */

/* LOGO */

.logo {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: wheat;
}

/* NAVBAR */


.navbar {
  background-color: #acb392 !important;
}

.nav-link {
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #fae6d0 !important;
}

li {
  font-size: 22px;
}

/* FOOTER */

.text-footer {
  font-size: 22px !important;
  font-weight: bold;
}

.footer-color {
  background-color: #acb392 !important;
}

#footer {
  background-color: #778a35 !important;
}

.fa-brands:hover {
  color: #fae6d0 !important;
}





