* {
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  width: 100%;
}

.button, .btn{
  color: white;
  background-color: #778a35;
  border: #778a35;  
}
 
.button:hover, .btn:hover{
  background-color: #FAE6D0;
  color: black;
  transform: scale(1.1);
  border: #778a35;
}

h1, h2, h3, p {
  font-size: 5rem;
  color: #778a35; 
  font-family: "Aleo", serif;     
}


.card-wrapper {
  margin: 5% 0;
}

.card-style {
  text-align: center;
  border-radius: initial;
  border: initial;
}

.circle-image {
  width: 250px;
  height: 250px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 8px solid #FAE6D0;  
}

.card-text {
  font-family: "Aleo", serif; 
  font-size: 22px;
  line-height: initial;
}

.card-title {
  font-size: 32px;
}

/* CAROUSEL */




.carousel-item {
  background: no-repeat center center;
  height: 70vh;
}





.row {
  display: flex;
  --bs-gutter-x:0;
  --bs-gutter-y: 0;
}




.container-img {
  max-width: 400px;
  height: 400px;
  margin: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery {
  background-color: #acb392;
}

.text-costumer {
  font-size: 22px;
  letter-spacing: 2px;
  color: #555c3c;  
 
}

.text-gallery {
  font-size: 32px;
  color: #2d3021;  
}

@media screen and (max-width: 1000px) {
 

.container-img {
  max-width: 800px;
  height: 100%;
  margin: 10px;
  padding-bottom:20px;

  
}
}

@media screen and (max-width: 800px) {

  .container-img {
    max-width: 600px;
    height: 600px;
    margin: auto;
    padding-bottom: 20px;
  }
}  


@media screen and (max-width: 600px) {

  .container-img {
    max-width: 500px;
    height: 500px;
    margin: auto;
    padding-bottom: 20px;
  }
}  

@media screen and (max-width: 600px) {

  .container-img {
    max-width: 400px;
    height: 400px;
    margin: auto;
    padding-bottom: 20px;
  }
}  




/* FOOTER AND NAVBAR - LOGO */

/* LOGO */

.logo {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: wheat;
}

/* NAVBAR */


.navbar {
  background-color: #acb392 !important;
}

.nav-link {
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #fae6d0 !important;
}

li {
  font-size: 22px;
}

/* FOOTER */

.text-footer {
  font-size: 22px !important;
  font-weight: bold;
}

.footer-color {
  background-color: #acb392 !important;
}

#footer {
  background-color: #778a35 !important;
}

.fa-brands:hover {
  color: #fae6d0 !important;
}



  




     





    

